repos:
  - repo: local
    hooks:
      - id: pytest-coverage
        name: pytest-coverage
        entry: python -m pytest --cov=src --cov-fail-under=95
        language: system
        pass_filenames: false
        always_run: true
        env:
          PYTHONPATH: .
